@import "~assets/scss/bundle.scss";

.textarea {
	display: grid;
	gap: 0.75em;

	cursor: text;
}

.textarea__label {
	font-weight: 500;
}

.textarea__appearance {
	flex: 1;
	max-width: 100%;
	min-height: 2em;
	max-height: 50vh;
	transition: 200ms ease color;

	@include InputAppearance;

	resize: vertical;

	line-height: 1.25;
	overflow-wrap: break-word;

	&::placeholder {
		color: rgba($color-dark, 0.5);
		transition: 200ms ease color;
	}

	&:focus::placeholder {
		font-weight: 500;
		color: rgba($color-dark, 0.5);
	}
}
