@import "~assets/scss/bundle.scss";

.row {
  --row-indent: 1.5em;

  display: flex;

  &>* {
    flex: 1;
  }

  @include row-gap(var(--row-indent));

  @include Mobile {
    display: grid;
    gap: var(--row-indent);
  }
}
