@import "~assets/scss/bundle.scss";

.notice {
  background: rgba($color-red, 0.1);
  border-radius: 1.25em;
  padding: 2em 2.5em;

  display: flex;
  align-items: center;
}

.notice__info {
  display: grid;
  gap: 1em;
}

.notice__title {
  font-size: $font-size-h5;
  font-weight: 800;
}

.notice__desc {
  max-width: 75%;

  font-size: 1.125rem;
  line-height: 1.25;

  color: $color-black-main;
  opacity: 0.75;
}

.notice__element {
  flex-shrink: 0;
  margin-left: auto;
}
