@import "~assets/scss/bundle.scss";

.notice {
  display: flex;
  align-items: center;

  background: rgba($color-red, 0.1);
  border-radius: 1.25em;
  padding: 2em 2.5em;

  @include Mobile {
    display: grid;
    gap: 1.5em;
  }
}

.notice__info {
  display: grid;
  gap: 1em;
}

.notice__title {
  font-size: $font-size-h5;
  font-weight: 800;

  @include DesktopLowResolution {
    text-align: center;
  }
}

.notice__desc {
  max-width: 75%;

  font-size: 1.125rem;
  line-height: 1.25;

  color: $color-black-main;
  opacity: 0.75;

  @include DesktopLowResolution {
    max-width: 100%;
  }
}

.notice__element {
  flex-shrink: 0;
  margin-left: auto;

  @include DesktopLowResolution {
    margin-right: auto;
  }
}
