@import "~assets/scss/bundle.scss";

.problem-layout {
  display: flex;
  flex-direction: column;

  max-height: 100vh;

  background: white;
  transition: 250ms ease background-color;

  &--dark {
    background: $color-dark;
  }

  @include Tablet {
    max-height: unset;
  }
}

.problem-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25em 2.5em;

  &>* {
    flex: 1;
  }
}

.problem-header-level {
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    --button-color: #{rgba(white, 0.2)};

    &:hover {
      --button-color: #{rgba(white, 0.3)};
    }
  }
}

.problem-header-level-text {
  padding: 0 3rem;

  font-size: 1.125rem;
  font-weight: 700;

  color: white;
  text-align: center;
}

.problem-header__right {
  display: flex;
  align-items: center;

  @include column-gap(2em);
}

.problem-header-feedback {
  display: flex;
  align-items: center;

  @include column-gap(0.5em);

  font-size: 1.125rem;
  color: white;

  .icon {
    flex-shrink: 0;
  }
}

.problem-layout__container {
  display: flex;
  overflow: hidden;
  height: 100vh;

  &>:not(:last-child) {
    border-right: 1px solid $color-gray;

    .problem-layout--dark & {
      border-color: $color-dark-75;
    }
  }

  @include Tablet {
    display: grid;
    gap: 1em;

    height: unset;
  }
}

.problem-layout__section {
  --scrollbar-thumb-color: #{rgba($color-blue-40, 0.25)};
  --scrollbar-track-color: white;

  position: relative;

  display: flex;
  flex-direction: column;
  @include row-gap(1.5em);

  flex: 1;

  padding: 1.25vw 2vw;

  overflow: auto;
  overflow: overlay;
  @include Scrollbar(1em, var(--scrollbar-thumb-color), var(--scrollbar-track-color));

  &--shrink {
    max-width: 42%;

    @include Tablet {
      max-width: 100%;
    }
  }

  .problem-layout--dark & {
    --scrollbar-thumb-color: #{rgba(white, 0.25)};
    --scrollbar-track-color: #{$color-dark};
  }
}
