@import "~assets/scss/bundle.scss";

.account-section {
  max-width: unset;

  .wrapper {
    display: grid;
    gap: 3em;
  }
}

.account-big-block {
  display: flex;
  align-items: flex-start;
}

.account-left {
  width: 280px;
  padding-right: 30px;
}

.account-menu {
  display: grid;
  gap: 1em;
}

.account-menu-link {
  padding: 1.25rem;

  border: 1px solid $color-gray;
  border-radius: 0.5em;

  color: $color-black-main;

  font-size: $font-size-h6;
  font-weight: 700;

  text-align: center;
  text-decoration: none;

  &:hover,
  &--active {
    color: $color-blue;
    border-color: $color-blue;
  }
}

.account-right {
  width: calc(100% - 280px);
}

.account-info {
  display: flex;
  @include column-gap(2.5em);
}
