@import "~assets/scss/bundle.scss";

.main-title-section {
  background: $color-blue-80;
  padding: 140px 0;

  @include DesktopLowResolution {
    padding: 10vw 0;
  }
}

.main-title-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include Tablet {
    display: grid;
    gap: 2.5em;
  }
}

.main-title-left {
  width: 45%;
  padding-right: 110px;

  h1 {
    font-weight: 900;
  }

  .headings {
    gap: 0.5em;
  }

  .button-wrap {
    margin-top: 40px;

    @include Mobile {
      display: flex;
      justify-content: center;
    }
  }

  @include Tablet {
    grid-row: 2;

    width: 100%;

    padding-right: unset;
  }
}

.main-title-right {
  width: 55%;

  .video-block-padding {
    padding-top: 70%;
  }

  @include Tablet {
    grid-row: 1;

    width: 100%;
    max-width: 600px;
  }
}




/* main page - second section */

.main-second-wrap {
  display: flex;
  justify-content: center;

  padding: 175px 0;

  @include Tablet {
    display: grid;
    justify-items: center;
    gap: 2.5em;

    padding: 10vw 0;
  }
}

.main-second-img {
  width: 37%;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }

  @include Tablet {
    width: 100%;
    max-width: 400px;
  }
}

.main-second-text {
  width: 63%;
  padding-left: 150px;

  h2 {
    font-size: $font-size-h1;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  p:not(:last-child) {
    margin-bottom: 24px;
  }

  @include Tablet {
    width: auto;
    padding-left: unset;
  }
}




/* main page - course features */

.features-section {
  padding: 175px 0;
  background: $color-blue-10;

  @include DesktopLowResolution {
    padding: 10vw 0;
  }
}

.features-wrap {
  display: flex;
  align-items: flex-start;

  @include DesktopLowResolution {
    display: grid;
    gap: 2.5em;
  }
}

.features-title {
  width: 500px;
  padding-right: 90px;

  @include DesktopLowResolution {
    width: auto;

    padding-right: unset;
  }
}

.features-list {
  width: calc(100% - 500px);
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;

  @include DesktopLowResolution {
    width: 100%;
  }

  @include Tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5em, 1fr));
    gap: 2.5em;

    margin: unset;
  }
}

.features-item {
  width: calc(33.33% - 40px);
  margin: 0 20px;
  margin-bottom: 50px;

  @include Tablet {
    width: auto;

    margin: unset;
  }
}

.features-item-icon {
  width: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  img {
    max-width: 100%;
  }
}

.features-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 8px;
}

.features-item-text {
  color: $color-dark-75;

  line-height: 1.25;
}




/* main page - course curriculum */

.curriculum-section {
  padding: 175px 0;

  @include DesktopLowResolution {
    padding: 10vw 0;
  }
}

.curriculum-block {
  display: flex;
  align-items: flex-start;

  @include DesktopLowResolution {
    display: grid;
    gap: 2.5em;
  }
}

.curriculum-title {
  width: 500px;
  padding-right: 90px;

  .button-wrap {
    margin-top: 40px;

    @include DesktopLowResolution {
      margin-top: unset;
    }

    @include Tablet {
      margin: 0 auto;
    }
  }

  @include DesktopLowResolution {
    width: auto;

    padding-right: unset;
  }
}

.curriculum-content {
  display: grid;
  gap: 2.5em;

  width: calc(100% - 500px);

  @include DesktopLowResolution {
    width: 100%;
  }
}

.curriculum-wrap {
  display: grid;
  grid-template-columns: repeat(4, 15em);
  gap: 2em;

  width: 100%;
  overflow: auto;

  @include Mobile {}
}

.curriculum-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px 32px;
  background: $color-blue-10;
  border-radius: 20px;
}

.curriculum-item-digit {
  font-weight: 200;
  font-size: 48px;
  color: rgba(13, 14, 20, 0.2);
  margin-bottom: 12px;
}

.curriculum-item-name {
  font-weight: 700;
  font-size: 24px;
}

// Main

.main-six-section {
  padding: 175px 0;
  background: $color-blue-10;

  @include DesktopLowResolution {
    padding: 10vw 0;
  }
}

.main-six-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include Tablet {
    display: grid;
    justify-items: center;
    gap: 2.5em;
  }
}

.main-six-right {
  width: 55%;

  @include Tablet {
    grid-row: 1;

    width: 100%;
    max-width: 600px;
  }
}

.main-six-left {
  width: 45%;
  padding-right: 63px;

  @include Tablet {
    width: 100%;

    padding-right: unset;
  }
}

.main-six-item {
  margin-bottom: 8px;
  padding: 32px;
  border-radius: 20px;
  cursor: pointer;

  transition: 250ms ease background-color;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    background: #fff;
  }
}

.main-six-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.read-more {
  font-weight: 500;
  color: $color-blue-80;
}

/* Support languages */

.lang-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 175px 0;

  @include DesktopLowResolution {
    padding: 10vw 0;
  }

  @include Tablet {
    display: grid;
    justify-items: center;

    gap: 2.5em;
  }
}

.lang-title {
  width: 37%;
  padding-right: 30px;

  @include DesktopLowResolution {
    width: 45%;
    margin-top: unset;
  }

  @include Tablet {
    width: 100%;

    padding-right: unset;
  }
}

.lang-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 53%;
  max-width: 63%;

  margin: 0 -15px;

  @include Tablet {
    width: 100%;
    max-width: 75%;
  }

  @include Mobile {
    max-width: 100%;
  }
}

.lang-item {
  width: calc(33.33% - 30px);
  min-height: 195px;
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 35px 24px;
  background: $color-blue-10;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include Mobile {
    width: 40%;
    min-height: unset;

    margin: 8px;
    padding: 1.5em;
  }
}

.lang-item-icon {
  width: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }

  @include Mobile {
    width: 50px;
  }
}

.lang-item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}


/* Ace your next coding interview */

.ace-section {
  background: $color-blue-80;
  padding: 75px 0;

  @include DesktopLowResolution {
    padding: 10vw 0;
  }
}

.ace-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include Tablet {
    display: grid;
    justify-items: center;
    gap: 2.5em;
  }
}

.ace-img {
  width: 535px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  img {
    max-width: 100%;
  }

  @include Tablet {
    justify-content: center;

    grid-row: 1;

    width: 100%;
    max-width: 400px;
  }

  @include Mobile {
    max-width: 300px;
  }
}

.ace-text {
  width: 700px;
  max-width: calc(100% - 535px);
  padding-right: 30px;
  color: #fff;

  h2 {
    color: #fff;
  }

  @include Tablet {
    width: 100%;
    max-width: 100%;

    padding-right: unset;
  }
}

.ace-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;

  @include column-gap(1em);

  @include Mobile {
    display: grid;
    justify-items: center;
    gap: 1.5em;

    @include column-gap(unset);
  }
}
