$color-white: white;
$color-dark: #0D0E14;
$color-dark-75: #77777B;
$color-gray: #D9E0E8;
$color-red: #EA4040;
$color-green: #07B123;
$color-blue: #004B7F;
$color-blue-40: #4B5567;
$color-blue-10: #EDF2F7;

$color-black-main: $color-dark;
