$color-white: white;
$color-dark: #0D0E14;
$color-dark-90: #25262b;
$color-dark-75: #3B3C41;
$color-gray: #D9E0E8;
// $color-gray: #3B3C41;
$color-gold: #FBC904;
$color-red: #EA4040;
$color-green: #07B123;
$color-green-80: #38C258;
$color-blue: #1C39BB;
$color-blue-80: #004B7F;
$color-blue-40: #4B5567;
$color-blue-10: #EDF2F7;

$color-black-main: $color-dark;
