/* Font Sizes */
$font-size-1: 1.5rem;
$font-size-2: 1.25rem;
$font-size-3: 1rem;

/* Widths */
$width-desktop: 1100px;
$width-tablet: 800px;

/* Widths */
$border-radius-1: 0.35em;
$border-radius-2: 1em;


// REST
$red: #EA4040;
$green: #07B123;
$blue: #004B7F;

$grey: #4B5567;

$red1: rgba(234, 64, 64, 0.1);
$blue1: #EDF2F7;
