@import "~assets/scss/bundle.scss";

.course-progress {
  display: grid;
  gap: 1.5em;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: rgba(13, 14, 20, 0.75);

  strong {
    font-weight: 800;
    color: $color-black-main;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.course-progress__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
