@import "~assets/scss/bundle.scss";

.course-section {
  display: grid;
  gap: 5em;

  margin: 7.5em auto;
}

.course-section__header {
  display: grid;
  gap: 1em;

  max-width: 43em;
  margin: 0 auto;

  text-align: center;

  p {
    font-size: 1.125rem;
    opacity: 0.75;
  }
}

.course-section__container {
  display: grid;
  gap: 2.5em;
}
