@import "~assets/scss/bundle.scss";

table.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    font-size: 1.125rem;
    font-weight: 600;

    text-align: center;
    vertical-align: middle;
  }

  th {
    $radius: 1rem;

    padding: 1rem;
    background: $color-blue-10;

    font-size: $font-size-h6;
    font-weight: 700;

    &:first-child {
      // padding-left: 2rem;

      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }

    &:last-child {
      // padding-right: 2rem;

      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  td {
    padding: 1.25rem;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid $color-gray;
  }
}
