@import "~assets/scss/bundle.scss";

.main-title-section {
  background: $color-blue-80;
  padding-top: 116px;
  padding-bottom: 140px;
}

.main-title-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-title-left {
  width: 45%;
  padding-right: 110px;

  h1 {
    font-weight: 900;
  }

  .headings {
    gap: 0.5em;
  }

  .button-wrap {
    margin-top: 40px;
  }
}

.main-title-right {
  width: 55%;

  .video-block-padding {
    padding-top: 70%;
  }
}




/* main page - second section */

.main-second-wrap {
  display: flex;
  justify-content: center;

  padding: 175px 0;
}

.main-second-img {
  width: 37%;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.main-second-text {
  width: 63%;
  padding-left: 150px;

  h2 {
    font-size: $font-size-h1;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  p:not(:last-child) {
    margin-bottom: 24px;
  }
}




/* main page - course features */

.features-section {
  padding: 175px 0;
  background: $color-blue-10;
}

.features-wrap {
  display: flex;
  align-items: flex-start;
}

.features-title {
  width: 500px;
  padding-right: 90px;
}

.features-list {
  width: calc(100% - 500px);
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: calc(33.33% - 40px);
  margin: 0 20px;
  margin-bottom: 50px;
}

.features-item-icon {
  width: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  img {
    max-width: 100%;
  }
}

.features-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 8px;
}

.features-item-text {
  color: $color-dark-75;

  line-height: 1.25;
}




/* main page - course curriculum */

.curriculum-section {
  padding: 175px 0;
  // padding-bottom: 0;
}

.curriculum-block {
  display: flex;
  align-items: flex-start;
}

.curriculum-title {
  width: 500px;
  padding-right: 90px;

  .button-wrap {
    margin-top: 40px;
  }
}

.curriculum-content {
  width: calc(100% - 500px);
}

.curriculum-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.curriculum-tabs-item {
  display: block;
  position: relative;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.25;
  opacity: 0.68;

  text-decoration: none;

  color: $color-black-main;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0%;
    height: 2px;
    background: $color-black-main;
    opacity: 0;

    transition: 200ms ease opacity, 200ms ease width;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-black-main;
    opacity: 1;
  }

  &--active {
    opacity: 1;

    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.curriculum-wrap {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.curriculum-item {
  width: calc(25% - 30px);
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 25px 32px;
  padding-bottom: 23px;
  background: $color-blue-10;
  border-radius: 20px;
  line-height: 1.25;
}

.curriculum-item-digit {
  font-weight: 200;
  font-size: 48px;
  color: rgba(13, 14, 20, 0.2);
  margin-bottom: 12px;
}

.curriculum-item-name {
  font-weight: 700;
  font-size: 24px;
}

// Main

.main-six-section {
  padding: 175px 0;
  background: $color-blue-10;
}

.main-six-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-six-right {
  width: 55%;
}

.main-six-left {
  width: 45%;
  padding-right: 63px;
}

.main-six-item {
  margin-bottom: 8px;
  padding: 32px;
  border-radius: 20px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    background: #fff;
  }
}

.main-six-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.read-more {
  font-weight: 500;
  color: $color-blue-80;
}

/* Support languages */

.lang-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 175px 0;
}

.lang-title {
  width: 37%;
  padding-right: 30px;
}

.lang-items {
  width: 53%;
  max-width: 63%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.lang-item {
  width: calc(33.33% - 30px);
  min-height: 195px;
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 35px 24px;
  background: $color-blue-10;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lang-item-icon {
  width: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

.lang-item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}


/* Ace your next coding interview */

.ace-section {
  background: $color-blue-80;
  padding: 75px 0;
}

.ace-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ace-img {
  width: 535px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;

  img {
    max-width: 100%;
  }
}

.ace-text {
  width: 700px;
  max-width: calc(100% - 535px);
  padding-right: 30px;
  color: #fff;

  h2 {
    color: #fff;
  }
}

.ace-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;

  .button {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}
