@import "~assets/scss/bundle.scss";

.field {
	display: grid;
	gap: 0.75em;

	cursor: text;
}

.field__label {
	font-weight: 500;
}

.field__icon {
	--icon-size: 1.25em;
	--icon-color: #{rgba($color-dark, 0.5)};

	margin-right: 1em;
}

.field__appearance {
	display: flex;

	@include InputAppearance;
}

.field__input {
	width: 100%;

	color: $color-black-main;
	font-weight: 500;

	&::placeholder {
		color: rgba($color-dark, 0.5);
	}

	&:disabled {
		cursor: not-allowed;
	}

	resize: vertical;
}
