@import "~assets/scss/bundle.scss";

.field {
	display: grid;
	gap: 0.75em;

	cursor: text;
}

.field__label {
	font-weight: 500;
}

.field__appearance {
	@include InputAppearance;
}

.field__input {
	width: 100%;

	color: $color-black-main;
	font-size: 1.25rem;

	&::placeholder {
		color: rgba($color-dark, 0.5);
		transition: 200ms ease color;
	}

	&:focus::placeholder {
		font-weight: 500;
		color: rgba($color-dark, 0.5);
	}

	&:disabled {
		cursor: not-allowed;
	}

	resize: vertical;
}
