@import "~assets/scss/bundle.scss";

.error-cover {
	width: 100%;
	height: 100%;
	min-height: 5em;

	flex: 1 0;
}

.error-cover__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-cover__text {
	color: $color-dark;
	text-align: center;

	font-size: $font-size-h6;

	em {
		font-weight: 700;
		color: $color-black-main;
	}
}
