@import "~assets/scss/bundle.scss";

.error-cover {
	// width: 100%;
	height: 100%;
	min-height: 5em;

	margin: 0 auto;
	padding: 1.5em 5vw;

	background: $color-blue-10;
	border: 1px solid $color-gray;
	border-radius: 0.5em;

	flex: 1 0;
}

.error-cover__container {
	display: flex;
	align-items: center;
	justify-content: center;

	color: $color-dark;
	text-align: center;

	font-size: $font-size-h6;

	em {
		font-weight: 700;
		color: $color-black-main;
	}
}
