@import "~assets/scss/bundle.scss";

.selector {
	position: relative;

	display: grid;
	gap: 0.75em;

	width: var(--selector-width, fit-content);
	min-width: 15em;

	@include Mobile {
		width: auto;
	}
}

.selector__label {
	font-size: 1.125rem;
	font-weight: 700;
}

.selector__appearance {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;

	@include InputAppearance(0.5em 1em);
	background: $color-blue-10;
	color: $color-black-main;

	&--small {}

	&--big {
		padding: 0.75em 1.25em;
	}

	&--transparent {

		&,
		&:focus,
		&--focused {
			border-color: transparent;
			background: transparent;
		}

		&:focus,
		&--focused {
			box-shadow: 0 0 0 4px rgba(white, 0.25);
		}

		.selector__current,
		.selector__icon {
			opacity: 1;
			color: white;
		}
	}

	&--dark {
		color: white;
	}

	cursor: pointer;
}

.selector__current {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	font-size: $font-size-h6;
	font-weight: 600;

	opacity: 0.75;

	&--empty {
		color: gray;
	}
}

.selector__icon {
	--icon-size: 0.75em;

	transition: 200ms ease transform;

	&--up {
		transform: rotateX(180deg);
	}
}
