@import "~assets/scss/bundle.scss";

.video {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

video.video__video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  cursor: pointer;
}

button.video-play {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(#1c39bb, 0.4);

  transition: 400ms ease background-color;

  cursor: pointer;

  &:hover:not([hidden]) {
    background: rgba(#1c39bb, 0.5);
  }

  &[hidden] {
    opacity: 0;
  }
}

.video-play__icon {
  --icon-size: 5em;

  color: white;
}

.video-padding {
  padding-top: 62.2%;
}

.video-frame {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.active {
    display: block;
  }

  iframe,
  video,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-preview {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;

  &.active {
    display: block;
  }

  .preview {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 57, 187, 0.4);
    transition: .5s;
  }

  &:hover {
    &::after {
      background: rgba(28, 57, 187, 0.2);
    }

    .video-button svg {
      fill: $blue;
    }
  }
}

.video-button {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;

  color: white;

  svg {
    fill: #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
