@import "~assets/scss/bundle.scss";

.faq {
	display: grid;
	row-gap: 0.5em;
}

.faq__clause {
	display: grid;

	&:not(:last-child) {
		padding-bottom: 0.5em;
		border-bottom: 1px solid $color-gray;
	}
}

.faq__summary {
	display: flex;
	align-items: center;
	padding: 1em 0.5em;
	background: $color-white;

	cursor: pointer;
	transition: 200ms ease color;

	&--expanded {
		color: $color-blue;
	}
}

.faq__icon {
	margin-right: 1.25em;
}

.faq__title {
	font-size: $font-size-h5;
	font-weight: 600;
}

.faq__content {
	height: 0;
	padding-left: 2.25em;
	overflow: hidden;
	transition: 350ms height;

	&--expanded {
		height: calc(var(--height) * 1px);
	}
}

.faq__inner {
	padding: 0.5em;
	background: $color-white;
	transition: 250ms ease opacity, 250ms ease transform;

	color: $color-dark;
	line-height: 1.25;
	white-space: pre-wrap;

	:not(.faq__content--expanded)>& {
		opacity: 0;
		transform: translateY(-5%);
		pointer-events: none;
	}
}
