@import "~assets/scss/bundle.scss";

.course-section {
  display: grid;
  gap: 5em;

  margin: 7.5em auto;
}

.course-section__header {
  display: grid;
  gap: 1em;

  max-width: 43em;
  margin: 0 auto;

  text-align: center;

  p {
    font-size: 1.125rem;
    opacity: 0.75;
  }
}

.course-section__container {
  display: grid;
  gap: 2.5em;
}

.course-progress {
  display: grid;
  gap: 1.5em;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: rgba(13, 14, 20, 0.75);

  strong {
    font-weight: 800;
    color: $color-black-main;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.course-progress__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-contents-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;

  .h4 {
    margin: 0;
  }
}

.course-contents__list {
  display: grid;
  gap: 1em;
}

.show-all-lessons {
  display: flex;
  align-items: center;
  font-weight: 700;

  svg {
    fill: $color-black-main;
    margin-left: 8px;
    transition: .5s;
  }

  &:hover {
    color: $color-red;

    svg {
      fill: $color-red;
    }
  }

  &.active {
    svg {
      transform: rotate(-180deg);
    }
  }
}

.course-item {
  margin-bottom: 16px;
  background: $color-blue-10;
  border-radius: 15px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.course-item-info {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  padding-right: 63px;
  position: relative;
  font-weight: 700;
  line-height: 1.1;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background: darken($color-blue, 5%);
  }
}

.course-item-name {
  font-size: 24px;
}

.course-item-completed {
  font-size: 24px;
  color: $color-black-main;

  strong {
    font-size: 20px;
    color: rgba(13, 14, 20, 0.68);
  }
}

.course-item-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;

  svg {
    fill: $color-black-main;
    transition: .5s;
  }

  img {
    transition: .5s;
  }

  &.active {

    svg,
    img {
      transform: rotate(-180deg);
    }
  }
}

.course-item-content {
  padding: 24px 50px;
  padding-top: 12px;
  padding-bottom: 26px;
  display: none;

  &.active {
    display: block;
  }

  .h6 {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.course-elems {
  $min-width: 17em;
  $min-height: 9.25em;

  display: grid;
  grid-auto-rows: $min-height;
  grid-template-columns: repeat(auto-fill, minmax($min-width, 1fr));

  gap: 1.5em;
}

.course-elem {
  width: 275px;
  margin-right: 24px;
  margin-bottom: 24px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-black-main;
  }
}

.course-elem-text {
  display: block;
  width: 100%;
  min-height: 102px;
  padding: 28px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.course-elem-button {
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  min-height: 48px;
  border-top: 1px solid rgba(217, 224, 232, 0.5);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  color: $color-black-main;
  transition: .5s;
  cursor: pointer;

  svg {
    margin-left: 8px;
    fill: $color-black-main;
  }

  &.green-bg {
    color: #fff;

    svg {
      fill: #fff;
    }

    &:hover {
      background: $color-green;
    }
  }

  &.red-bg {
    color: #fff;

    svg {
      fill: #fff;
    }

    &:hover {
      background: $color-red;
    }
  }

  &:hover {
    background: $color-blue;
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}
