@import "~assets/scss/bundle.scss";

.reviews-section {
  padding: 175px 0;

  @include DesktopLowResolution {
    padding: 5vw 0;
  }
}

.reviews-title {
  max-width: 550px;
}

.reviews-wrap {
  margin: 0 -12px;
  display: flex;
}

.reviews-block {}
