@import "~assets/scss/bundle.scss";

.review {
  display: grid;
  gap: 1em;

  padding: 1.5em;
  background: $color-blue-10;
  border-radius: 20px;
}

.review__quote {
  --icon-size: 2.5em;

  color: rgba($color-dark, 0.2);
}

.review__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
