@import "~assets/scss/bundle.scss";

.input {
	display: flex;
	gap: 0.5em;

	padding: 1.25em 1.5em;

	border: 1px solid $color-gray;
	border-radius: 0.75em;

	@include Mobile {
		display: grid;
	}
}

.input__input {
	width: 100%;

	color: $color-black-main;
	font-size: 1.25rem;

	&::placeholder {
		color: rgba($color-dark, 0.5);
		transition: 200ms ease color;
	}

	&:focus::placeholder {
		font-weight: 500;
		color: rgba($color-dark, 0.5);
	}

	resize: vertical;
}
