@import "~assets/scss/bundle.scss";

.account-section {
  max-width: unset;

  .wrapper {
    display: grid;
    gap: 3em;
  }
}

.account-big-block {
  display: flex;
  align-items: flex-start;

  @include Tablet {
    display: grid;
    gap: 2em;
  }
}

.account-left {
  width: 280px;
  padding-right: 2em;

  @include Tablet {
    width: 100%;
    padding-right: unset;
  }

  @include Mobile {
    display: grid;
  }
}

.account-menu {
  display: grid;
  gap: 1em;

  @include Tablet {
    display: flex;
  }

  @include Mobile {
    display: grid;
  }
}

.account-menu-link {
  padding: 1.25rem;

  border: 1px solid $color-gray;
  border-radius: 0.5em;

  color: $color-black-main;

  font-size: $font-size-h6;
  font-weight: 700;

  text-align: center;
  text-decoration: none;

  &:hover,
  &--active {
    color: $color-blue;
    border-color: $color-blue;
  }
}

.account-right {
  width: calc(100% - 280px);

  @include Tablet {
    width: 100%;
  }
}

.account-info {
  display: flex;
  @include column-gap(2em);

  @include Mobile {
    display: grid;
    gap: 2em;

    @include column-gap(unset);

    &>* {
      width: 100%;
    }
  }
}
